
  .content {
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    min-height: 100vh;
    padding: 20px 100px;
    
  }
  
  #row1 {
    grid-row: 1 / 2;
    position: relative;
    padding: 10px;
  }
  
  #selectD {
    position: absolute;
    left: 30px;
  }
  
  #welcome {
    font-weight: bold;
    font-size: 18px;
  }
  
  .text1 {
    font-size: 14px;
    color: gray;
    font-style: italic;
  }
  
  #row2 {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1; /* Allows row2 to take up available space */
    overflow: auto; /* Prevents content from overflowing */
   
  }
  
  #diseaseSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
  }
  #row3 {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  /* Modal Background */
.modal {
  display: flex;
 
  align-items: center;
  position: fixed;
  top: 15%;
  left: 30%;
  width: 40%;
  height: 70%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: red;
}
.predictDetail{
  height: 60%;
  width: 100%;
}

  