* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainboard {
   height: auto;
   display: flex;
   flex-direction: row;
}
.navi {
  width: 20%;
  background-color: red;
  margin: 20px 10px;
}
.content{
    width: 80%;
    display: grid;
    grid-template-rows: 2fr 8fr 2fr;
    min-height: 100vh;
    margin: 20px 10px;
}

#row1 {
    grid-row: 1 / 2;
    position: relative;
    padding: 10px;
}

#selectD {
    position: absolute;
    left: 30px;
}

#welcome {
    font-weight: bold;
    font-size: 18px;
}

.text1 {
    font-size: 14px;
    color: gray;
    font-style: italic;
}

#row2 {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1; /* Allows row2 to take up available space */
    overflow: auto; /* Prevents content from overflowing */
    
}

#diseaseSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    margin: 10px;
    box-sizing: border-box;
    background-color: gray; /* Soft red */
    border-radius: 10px;
    padding: 10px;
}
#actions{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    margin: 10px;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
.grouping{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#row3 {
    grid-row: 3 / 4;
    padding: 10px;
    background-color: #f8f8f8;
    
}

